doctype html
html
	head
		title MySite - Change this!
		meta(name='keywords', content='')
		meta(name='description', content='')
		meta(name='author', content='')
		meta(name='robots', content='follow, index')
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
		script(type='text/javascript', src='/js/jquery-2.2.1.js')
	body
		.container-fluid
			include partials/header
			block content
			include partials/footer
		
// Placed at the end of the document so the pages load faster
script(type='text/javascript', src='/js/bootstrap.min.js')