// FOOTER STARTS HERE
footer.footer.navbar-fixed-bottom
	.container
		p
			a(href='#', title='Buyer and seller support')
				b Support
			|   ·  
			a(href='#', title='Knowledge base', target='_none')
				b Knowledge base
			|   ·  
			a(href='#', title='Affiliates') Affiliates
			|   ·  
			a(href='#', title='Privacy policy') Privacy
			|   ·  
			a(href='#', title='Terms of use') Terms
			|   ·  
			a(href='#', title='About us') About
			span.pull-right
				| © 2016 
				a(href='#', title='Some Site', target='_blank') Some Site Ltd
